body {
    background-color: #ccff33;
    color: #4d7f28;
    font-family: "Bai Jamjuree", Manrope;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #c6ff4c;
    color: #4d7f28;
    font-family: "Bai Jamjuree", Manrope;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}
